.col-md-12
  %h4.col-md-2
    = link_to "Movies", movies_path
  %h4.col-md-2
    = link_to "People", people_path
  %h4.col-md-2
    = link_to "Genres", genres_path
  %h4.col-md-2
    = link_to "Lists", lists_path
  %h4.col-md-2
    = link_to "Galleries", galleries_lists_path
  %h4.col-md-2
    = link_to "Channels", channels_lists_path

%a{ href: "/#!/genres/#{@genre.id}" }
  %h1.col-md-12
    = @genre.genre

- @genre.movies.each do |movie|
  .movie.col-md-2
    %a.col-md-12{ href: "/movies/#{movie.id}" }
      .col-md-12
        - image = movie.images.where(is_main_image: true, approved: true)
        - if image.length > 0
          - image = image.first
          %img{ src: image.image_file.small.url, alt: "" }
        - else
          %img{ width: "120", src: "https://d3a8mw37cqal2z.cloudfront.net/assets/f996aa2014d2ffd/images/no-poster-w185.jpg", alt: "no image" }
      .col-md-12
        = movie.title
