= semantic_form_for [:admin, @movie_genre] do |f|
  = f.inputs "Movie Genre Settings" do
    = f.input :approved
    = f.input :genre, :label => "Genre", :as => :select, :collection => Genre.all.map{|u| [u.genre, u.id]}
    = f.input :movie
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
