.col-md-12
  .col-md-1
    = link_to "List of all movies", movies_path
  .col-md-1
    = link_to "List of all people", people_path

%a{ href: "/#!/movies/#{@movie.id}" }
  %h1.col-md-12
    = @movie.title
.col-md-12
  .col-md-2
    Tagline
  .col-md-10
    = @movie.tagline
.col-md-12
  .col-md-2
    Overview
  .col-md-10
    = @movie.overview

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "alternative-titles" }
    Add Alternative Titles
  - @movie.alternative_titles.each do |alt_title|
    - if alt_title.approved
      .col-md-12
        .col-md-3
          = alt_title.alternative_title
        .col-md-3
          - begin
            - language = @cache.get "language_#{alt_title.language_id}"
          - rescue
            - language = alt_title.language
            - @cache.set "language_#{language.id}", language if Rails.env.to_s == "production" if Rails.env.to_s == "production"
          = language.language

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "movie-metadata" }
    Add Metadata
  - @movie.movie_metadatas.each do |metadata|
    - if metadata.approved
      .col-md-12
        = metadata.budget
      .col-md-12
        = metadata.homepage
      .col-md-12
        = metadata.imdb_id
      .col-md-12
        = metadata.runtime
      .col-md-12
        - begin
          - status = @cache.get "status_#{metadata.status_id}"
        - rescue
          - status = metadata.status
          - @cache.set "status_#{status.id}", status if Rails.env.to_s == "production"
        = status.status

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "videos" }
    Add Videos
  - @movie.videos.each do |item|
    - if item.approved
      .col-md-12
        .col-md-3
          %a{ href: item.link, target: "_blank" }
            %img{ src: item.thumbnail, alt: "" }
        .col-md-3
          = item.title
        .col-md-3
          = item.description

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "images" }
    Add Image
  - @movie.images.each do |item|
    - if item.approved
      .col-md-12
        .col-md-3
          %a{ href: item.image_file.watermarked.url, target: "_blank" }
            %img{ src: item.image_file.small.url, alt: "" }
        .col-md-3
          = item.title
        .col-md-3
          = item.description

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "genres" }
    Add Genres
  - @movie.movie_genres.each do |item|
    - if item.approved
      .col-md-12
        - begin
          - genre = @cache.get "genre_#{item.genre_id}"
        - rescue
          - genre = item.genre
          - @cache.set "genre_#{genre.id}", genre if Rails.env.to_s == "production"
        = genre.genre

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "cast" }
    Add Cast
  - @movie.casts.each do |item|
    - begin
      - person = @cache.get "person_#{item.person_id}"
    - rescue
      - person = item.person
      - @cache.set "person_#{person.id}", person if Rails.env.to_s == "production"
    - if item.approved && person.approved
      .col-md-12
        .col-md-3
          = item.character
        .col-md-3
          %a{ href: "/#!/people/#{person.id}" }
            = person.name

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "crew" }
    Add Crew
  - @movie.crews.each do |item|
    - begin
      - person = @cache.get "person_#{item.person_id}"
    - rescue
      - person = item.person
      - @cache.set "person_#{person.id}", person if Rails.env.to_s == "production"
    - if item.approved && person.approved
      .col-md-12
        .col-md-3
          = item.job
        .col-md-3
          %a{ href: "/#!/people/#{person.id}" }
            = person.name

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "keywords" }
    Add Keywords
  - @movie.movie_keywords.each do |item|
    - if item.approved
      .col-md-12
        - begin
          - keyword = @cache.get "keyword_#{item.keyword_id}"
        - rescue
          - keyword = item.keyword
          - @cache.set "keyword_#{keyword.id}", keyword if Rails.env.to_s == "production"
        = keyword.keyword

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "languages" }
    Add Languages
  - @movie.movie_languages.each do |item|
    - if item.approved
      .col-md-12
        - begin
          - language = @cache.get "language_#{item.language_id}"
        - rescue
          - language = item.language
          - @cache.set "language_#{language.id}", language if Rails.env.to_s == "production"
        = language.language

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "tags" }
    Add Tagged people
  - @movie.tags.each do |item|
    - begin
      - person = @cache.get "person_#{item.person_id}"
    - rescue
      - person = item.person
      - @cache.set "person_#{person.id}", person if Rails.env.to_s == "production"
    - if item.approved && person.approved
      .col-md-12
        %a{ href: "/#!/people/#{person.id}" }
          = person.name

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "releases" }
    Add Releases
  - @movie.releases.each do |release|
    - if release.approved
      .col-md-12
        = release.release_date
      .col-md-12
        - begin
          - country = @cache.get "country_#{release.country_id}"
        - rescue
          - country = release.country
          - @cache.set "country_#{country.id}", country if Rails.env.to_s == "production"
        = country.country
      .col-md-12
        = release.confirmed

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "production-companies" }
    Add Production companies
  - @movie.production_companies.each do |item|
    - if item.approved
      .col-md-12
        - begin
          - company = @cache.get "company_#{item.company_id}"
        - rescue
          - company = item.company
          - @cache.set "company_#{company.id}", company if Rails.env.to_s == "production"
        = company.company

.col-md-12
  %h6.col-md-12.load-page{ "data-link" => "/#!/movies/#{@movie.id}/edit/my_movie", "data-tab" => "revenue-countries" }
    Add Revenue countries
  - @movie.revenue_countries.each do |revenue|
    - if revenue.approved
      .col-md-12
        .col-md-3
          - begin
            - country = @cache.get "country_#{revenue.country_id}"
          - rescue
            - country = revenue.country
            - @cache.set "country_#{country.id}", country if Rails.env.to_s == "production"
          = country.country
        .col-md-3
          = revenue.revenue

.col-md-12
  .col-md-1
    = link_to "List of all movies", movies_path
  .col-md-1
    = link_to "List of all people", people_path
