= semantic_form_for [:admin, @revenue_country] do |f|
  = f.inputs "Revenue country settings" do
    = f.input :approved
    = f.input :country, :label => "Country", :as => :select, :collection => Country.all.map{|u| [u.country, u.id]}
    = f.input :movie
    = f.input :revenue
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
