= semantic_form_for [:admin, @movie] do |f|
  = f.inputs "Movie Settings" do
    = f.input :approved
    = f.input :title
    = f.input :tagline
    = f.input :overview
    = f.input :content_score
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
