= semantic_form_for [:admin, @crew] do |f|
  = f.inputs "Crew Settings" do

    = f.input :approved
    = f.input :job
    = f.input :person
    = f.input :movie
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
