= semantic_form_for [:admin, @production_company] do |f|
  = f.inputs "Person social app" do
    = f.input :approved
    = f.input :company, :label => "Company", :as => :select, :collection => Company.all.map{|u| [u.company, u.id]}
    = f.input :movie
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
