= semantic_form_for [:admin, @movie_language] do |f|
  = f.inputs "Movie Language Settings" do
    = f.input :approved
    = f.input :language, :label => "Language", :as => :select, :collection => Language.all.map{|u| [u.language, u.id]}
    = f.input :movie
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
