= semantic_form_for [:admin, @person_social_app] do |f|
  = f.inputs "Person social app" do
    = f.input :approved
    = f.input :person
    = f.input :profile_link
    = f.input :social_app, :label => "Social App", :as => :select, :collection => SocialApp.all.map{|u| [u.social_app, u.id]}
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
