= semantic_form_for [:admin, @movie_keyword] do |f|
  = f.inputs "Movie Keyword Settings" do
    = f.input :approved
    = f.input :keyword, :label => "Keyword", :as => :select, :collection => Keyword.all.map{|u| [u.keyword, u.id]}
    = f.input :movie
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
