= semantic_form_for [:admin, @person] do |f|
  = f.inputs "Person Settings" do

    = f.input :approved
    = f.input :name
    = f.input :biography
    = f.input :birthday
    = f.input :day_of_death
    = f.input :homepage
    = f.input :imdb_id
    = f.input :place_of_birth
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.input :original_id
    = f.submit "Update"
