= semantic_form_for [:admin, @image] do |f|
  = f.inputs "Image Settings" do

    = f.input :approved
    = f.input :title
    = f.input :is_main_image
    = f.input :image_file
    = f.input :imageable_id
    = f.input :imageable_type
    = f.input :image_type
    = f.input :user, :label => "User", :as => :select, :collection => User.all.map{|u| ["#{u.last_name}, #{u.first_name}", u.id]}
    = f.submit "Update"
