!!!
%html
  %head
    %title Movies
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "keywords" }
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "/assets/slimbox2.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{ name: "fragment", content: "!" }

  %body.container{:id => body_id}
    .notifications

    = yield
    .bottom-menu.bottom-menu-inverse
      .container
        %ul.bottom-icons.col-md-4
          %li
            %a{:href => "/#!/movies"} Movies
          %li
            %a{:href => "/#!/people"} People
          %li
            %a{:href => "/#!/genres"} Genres
          %li
            %a{:href => "/#!/lists"} Lists
          %li
            %a{:href => "/#!/galleries"} Galleries
          %li
            %a{:href => "/#!/channels"} Channels
          %li
            %a{:href => "/movies"} Static movies
          %li
            %a{:href => "/people"} Static people
          %li
            %a{:href => "/genres"} Static genres
          %li
            %a{:href => "/lists"} Static lists
          %li
            %a{:href => "/lists/galleries"} Static galleries
          %li
            %a{:href => "/lists/channels"} Static channels
        %ul.bottom-icons.col-md-4
          %li
            %a{:href => "/#!/movies/new"} Add movie
          %li
            %a{:href => "/#!/people/new"} Add person
          - if user_signed_in?
            %li
              %a{:href => "/#!/lists/new"} Add list
            %li
              %a{:href => "/#!/galleries/new"} Add gallery
            %li
              %a{:href => "/#!/channels/new"} Add channel
          - else
            %li
              %a{:href => new_user_session_path} Add list
            %li
              %a{:href => new_user_session_path} Add gallery
            %li
              %a{:href => new_user_session_path} Add channel
        %ul.bottom-icons.col-md-4
          %li
            %a{:href => "/#!/my_movies"} My movies
          %li
            %a{:href => "/#!/my_people"} My people
          %li
            %a{:href => "/#!/lists/my_lists"} My lists
          %li
            %a{:href => "/#!/lists/my_galleries"} My galleries
          %li
            %a{:href => "/#!/lists/my_channels"} My channels
          - if user_signed_in?
            %li
              %a{ href: "/#!/following" }
                My follows
            %li
              %a{ href: "/#!/profile" }
                My profile
            %li.login-info
              Signed in as #{current_user.email}. Not you?
              \#{link_to "Sign out", destroy_user_session_path, :method => :delete, class: "sign-out" }
          - else
            %li
              = link_to "Sign up", new_user_registration_path
            %li.login-info
              or
            %li
              \#{link_to "Sign in", new_user_session_path}

