!!!
%html
  %head
    %title Movies
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "/assets/slimbox2.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{ name: "fragment", content: "!" }
  %body{:id => body_id}
    .notifications

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Movies
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/#"} Home
              %li
                %a{:href => "/#movies"} Movies
              %li
                %a{:href => "/#people"} People
              %li
                %a{:href => "/#genres"} Genres
              %li
                %a{:href => "/#lists"} Lists
              %li
                %a{:href => "/#galleries"} Galleries
              %li
                %a{:href => "/#channels"} Channels
              %li
                %a{:href => "/#movies/new"} Add movie
              %li
                %a{:href => "/#people/new"} Add person
              - if user_signed_in?
                %li
                  %a{:href => "/#lists/new"} Add list
                %li
                  %a{:href => "/#galleries/new"} Add gallery
                %li
                  %a{:href => "/#channels/new"} Add channel
              - else
                %li
                  %a{:href => new_user_session_path} Add list
                %li
                  %a{:href => new_user_session_path} Add gallery
                %li
                  %a{:href => new_user_session_path} Add channel

      %ul.span12
        %li.span2
          %a{:href => "/#my_movies"} My Movies
        %li.span2
          %a{:href => "/#my_people"} My People
        - if user_signed_in?
          %li.span2
            %a{ href: "#following" }
              My follows
          %li.login-info.span5
            Signed in as #{current_user.email}. Not you?
            \#{link_to "Sign out", destroy_user_session_path, :method => :delete, class: "sign-out" }
        - else
          %li.span2
            = link_to "Sign up", new_user_registration_path
          %li.login-info.span2
            or
          %li.span2
            \#{link_to "Sign in", new_user_session_path}


    = yield
